html,
body{
    height: 100%;
    padding: 0%;
    margin: 0%;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    box-sizing: border-box;
}
h3{
    color:#e5e5e5 ;
}
a h3:hover{
    color: #fff;
}

a {
    text-decoration: none;
}

.wrapper{
    min-width: 1050px ;
    background-color:#141414 ;
}

.signInContainer{
    background-color: #efefee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    background-color: #fff;
    min-height: 300px;
    max-height: 100%;
    width: 450px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    padding: 20px 35px;
    overflow-y: auto;
}

.column form{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #dedede;
    }

.column form input[type="submit"]{
    background-color: #4285f4;
    color: #fff;
    height: 36px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.column .header{
    padding: 20px 0;
}

.column h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 16px;
    margin: 0;
    color: #000;
}

.column .header span {
    font-size: 14px;
}

.column .header img {
    width: 110px;
}

.signInMessage{
    font-size: 14px;
    font-weight: 400;
}

.errorMessage{
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.previewImage,
.previewVideo {
    width: 100%;
}

.previewContainer {
    position: relative;
    display: flex;
}

.previewContainer.small {
    width: 230px;
    height: 129px;
    margin-right: 4px;
    display: inline-flex;
}

.previewContainer.small img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.previewOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
}

.previewOverlay .mainDetails h3 {
    color: #fff;
    font-size: 40px;
    margin: 15px 0;}


.previewOverlay .mainDetails{
    position: relative;
    top: 35%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;}

.previewOverlay .mainDetails button{
    background-color: rgba(51,51,51,0.4);
    color: white;
    border: none;
    min-width: 150px;
    padding: 0 38px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    border-radius: initial;
    border-top-width: initial;
    margin-right: 5px;
    cursor:pointer ;}

button i{
    color: inherit;
}

.mainDetails button:hover{
    background-color: #e6e6e6;
    color: #000
}

.category{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.entities {
    overflow: overlay;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }